.main .right .inf{
    /*    display: none;*/
}
.main .right button{
    margin-bottom: 5%;
}
.main .right .errorMessage{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.main .right .successMessage{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.main .right .changeStaff{
    padding-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
    display: none;
}
.main .right .showStaff{
    padding-top: 10px;
    display: none;
}